@charset "utf-8";
/* CSS Document */
h1{color:#FFCE00;
	font-size: 50pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

h2{
	color:#FFCE00;
	font-family: Arial, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
}

body{
	background: #767575;
}

.song8{
	height: 745px;
	width: 700px;
	
}